@import "assets/scss/colors.scss";

#buyerForm {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 0;
    margin-top: 1rem;
    background-color: rgba($gris, 0.7);
    > p {
        text-align: center;
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
    }
}
