* {
    margin: 0;
    padding: 0;
}
#root {
    background-color: white;
    font-family: "Roboto", sans-serif;
}
.container-fluid {
    padding: 0;
}
.grilla {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: auto;
    min-height: 100vh;
}
