#itemDetail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    img {
        width: 100%;
        padding: 1rem;
    }
    span {
        display: flex;
        flex-direction: column;
        > .buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
            a:first-child {
                padding: 1rem;
                background-color: #007bff;
                color: white;
                text-decoration: none;
                border-radius: 5px;
            }
            a:last-child {
                padding: 1rem;
                background-color: #28a745;
                color: white;
                text-decoration: none;
                border-radius: 5px;
            }
        }
    }
}
