@import "assets/scss/colors.scss";
#cartItem {
    display: grid;
    grid-template-columns: 20% 30% 20% 20% 10%;
    grid-template-rows: 10rem;
    padding: 0.5rem;
    align-items: center;
    border-radius: 1.5rem;
    border: 2px solid $gris;
    margin-bottom: 0.5rem;
    transition: 0.3s all ease;

    img {
        max-height: 10rem;
        max-width: 90%;
    }
    p {
        margin-bottom: 0.25rem;
    }
    > button {
        height: 5rem;
        width: 5rem;
        border-radius: 40px;
        svg {
            height: 2rem;
            fill: white;
        }
    }
    &:hover {
        background-color: rgba($gris, 0.5);
        transform: scale(1.01, 1.01);
        border: 2px solid $naranjaDetalles;
    }
}
