#CartItem {
    display: grid;
    grid-template-columns: auto auto auto auto 10%;
    grid-template-rows: 10rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    border: 1px solid black;

    > img {
        max-height: 8rem;
    }
    button {
        height: 50%;
        svg {
            font-size: 2rem;
        }
    }
}
