.carritoNavBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.carritoNavBar i {
    font-size: 3rem;
    margin-left: auto;
    margin: 0 1rem;
}
.carritoNavBar p {
    margin: 0;
}
.carritoNavBar span {
    position: absolute;
    text-align: center;
    transform: translate(-0.5rem, -0.2rem);
    height: 1.5rem;
    width: 1.5rem;
    background-color: red;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}
