@import "assets/scss/colors.scss";

#navBar {
    > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
        margin: 0;
        padding: 0;
        > li {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            padding: 1rem;
            color: white;
            width: 100%;
            text-align: center;
            border-radius: 5px;
            transition: 0.5s all linear;
            > span {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                a {
                    display: inline;
                    margin: 0;
                    color: white;
                    text-decoration: none;
                }
                svg {
                    fill: white;
                    transition: 0.4s all linear;
                    height: 1.5rem;
                    width: 1.5rem;
                }
            }
        }
        > li:hover {
            background-color: white;
            color: $azulIngelec;
            border-radius: 5px;
            span {
                svg {
                    transform: rotate(90deg);
                    fill: $azulIngelec;
                }
                a {
                    color: $azulIngelec;
                }
            }
            > ul {
                visibility: visible;
                transition-delay: 0.2s;
                opacity: 1;
            }
        }
    }
}
