#ItemDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 0.5rem;
    border-radius: 10px;
    img {
        width: 400px;
    }
    .terminarCompra {
        padding: 1rem;
        background-color: #28a745;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }
}
