#cartWidget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    a {
        color: white;
        &:hover {
            text-decoration: none;
        }
    }
    p {
        display: inline;
    }
    svg {
        height: 2.5rem;
        fill: white;
        margin: 0.5rem;
    }

    .carritoNavBar {
        position: relative;
        .contador {
            position: absolute;
            height: 1.5rem;
            min-width: 1.5rem;
            border-radius: 5px;
            background-color: red;
            z-index: 999;
            transform: translate(-0.8rem, -0.3rem);
            text-align: center;
        }
    }
}
