#CartWidget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    svg {
        font-size: 2.5rem;
        color: white;
    }
    p {
        margin: 0;
        padding-right: 1rem;
    }
    .carritoNavBar {
        position: relative;
        .contador {
            position: absolute;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 5px;
            background-color: red;
            z-index: 999;
            transform: translate(2rem, -3rem);
        }
    }
}
