@import "assets/scss/colors.scss";
footer {
    background-color: $blueButtonHover;
    color: white;
    text-align: center;
    padding: 1rem;
    p {
        margin: 0;
        padding: 1rem 0;
    }
    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;

        a {
            text-decoration: none;
            color: white;
        }
    }
}
